skeletonseperate.fbx
skeletonseperate.blend
skeletonseperate.blend1
tatami.blend
*.blend
*.fbx
Lenny/Targe_Shield_v2_L3.123cccfb3c74-0fdf-4356-84c9-7fee19c033a8/13039_Targe_Shield_v2_L3.mtl
Lenny/Targe_Shield_v2_L3.123cccfb3c74-0fdf-4356-84c9-7fee19c033a8/13039_Targe_Shield_v2_L3.obj
Lenny/Targe_Shield_v2_L3.123cccfb3c74-0fdf-4356-84c9-7fee19c033a8/Targe_Shield.jpg
Lenny/Targe_Shield_v2_L3.123cccfb3c74-0fdf-4356-84c9-7fee19c033a8/Targe_Shield_diff.jpg
materials/white_wool-4K/Wool_ambientocclusion.tif
materials/white_wool-4K/Wool_basecolor.tif
materials/white_wool-4K/Wool_height.tif
materials/white_wool-4K/Wool_metallic.tif
materials/white_wool-4K/Wool_normal.tif
materials/white_wool-4K/Wool_roughness.tif
*.blend1
*.obj
*.dae
